[WF] RELATORIO RATIONALE __ TRIGGER TELEGRAM.json
{
  "name": "[WF] RELATORIO RATIONALE // TRIGGER TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Code Node - Adicionar block do Discord em cada notícia\n  // IMPORTANTE: Este nó recebe APENAS notícias novas (não duplicadas) do PostgreSQL\n\n  const items = $input.all();\n  const output = [];\n\n  // Validar blocks permitidos\n  const validBlocks = ['Top News', 'Market Commentary', 'Rationale', 'News', 'General'];\n\n  // Processar cada notícia individualmente\n  for (const item of items) {\n    const news = item.json;\n\n    // O SQL já tem o block original da notícia\n    // E também calculou o discord_channel baseado em:\n    // - relevance_score\n    // - block (Top News, Market Commentary, Rationale, News)\n    // - is_iron_ore_related\n\n    let block = news.block || 'General';\n\n    // Validar se o block existe, senão usa General\n    if (!validBlocks.includes(block)) {\n      block = 'General';\n    }\n\n    // Adicionar cada notícia como item individual com campo block\n    output.push({\n      json: {\n        ...news,\n        block: block, // Usando block ao invés de channel\n        discord_channel: news.discord_channel, // Mantém o canal calculado pelo SQL\n        requires_translation: true,\n        requires_summary: true\n      }\n    });\n  }\n\n  // Se não houver notícias novas\n  if (output.length === 0) {\n    return [{\n      json: {\n        message: \"Nenhuma notícia nova para processar\",\n        duplicates_filtered: true,\n        block: null\n      }\n    }];\n  }\n\n  return output; // Retorna TODOS os items individualmente com campo block"
      },
      "id": "58f4ee15-eb07-47e4-a983-ea9550b2d747",
      "name": "Fitler by Channel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Code Node - Preparar para Summarize (SIMPLIFICADO)\n  const items = $input.all();\n\n  return items.map(item => {\n    const news = item.json;\n\n    // Criar mensagem direta sem variáveis intermediárias\n    return {\n      json: {\n        ...news,\n        // Este é o formato que o OpenAI node espera\n        messages: [\n          {\n            role: \"system\",\n            content: \"You are an expert iron ore analyst. Create concise market briefings (max 1400 chars) focusing on prices, volumes, companies and market impact.\"\n          },\n          {\n            role: \"user\",\n            content: `Summarize this iron ore news:\n  Title: ${news.title}\n  Content: ${news.full_content || news.briefing || 'No content available'}\n\n  Include: prices ($/MT), volumes, indices (IODEX, Platts 62% Fe), companies (Vale, BHP, Rio Tinto), \n  locations (China, Brazil, Australia).`\n          }\n        ]\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        64
      ],
      "id": "8547cadd-5c12-481e-a043-501c8bda96dc",
      "name": "Prepare for Summarize"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tU3Izdo21JichTXg15bc1paWUiN8XioJYZUPpbIUgL0",
          "mode": "list",
          "cachedResultName": "EVOLUTION-API",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tU3Izdo21JichTXg15bc1paWUiN8XioJYZUPpbIUgL0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tU3Izdo21JichTXg15bc1paWUiN8XioJYZUPpbIUgL0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ButtonPayload",
              "lookupValue": "Big"
            }
          ]
        },
        "options": {}
      },
      "name": "Get WhatsApp Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        192,
        416
      ],
      "typeVersion": 4.5,
      "id": "a0f78aac-d90b-4bf8-ab61-5ec15b33fa65",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GiY2cbcLXEqcL2Uk",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ButtonPayload }}",
              "rightValue": "=Big",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "2ae99cc7-6471-4d5d-af10-f0466c978608"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Filtrar Válidos",
      "type": "n8n-nodes-base.if",
      "position": [
        624,
        416
      ],
      "typeVersion": 2,
      "id": "4da85a00-231b-497f-bba8-332d2b9047e7"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        448
      ],
      "id": "463fb90f-0fa0-41bb-8674-ffa2a1a813ca",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d960518-db14-4b41-9d5c-d6aec476575a",
              "name": "content[0].text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        592
      ],
      "id": "c6c8e21a-597d-41c6-b19e-df2c8335fc4e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        496
      ],
      "id": "9c0925f0-c3e5-487d-9555-4e120bd768fe",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1456,
        528
      ],
      "id": "61c93978-278e-4489-bdbb-cc5168010d60",
      "name": "Wait",
      "webhookId": "dbeb9813-b266-4f26-a0dd-620a8828b62b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -32,
        416
      ],
      "id": "f25c9bb4-5539-4c53-bb58-384305b7fb92",
      "name": "No Operation, do nothing",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Code node n8n — unir notícias (até 10 linhas)\nconst inps = $input.all().map(i => i.json);\nconst arts = inps.flatMap(x => Array.isArray(x.articles) ? x.articles : [x]).filter(Boolean);\nconst norm = a => ({ t: a.title || a.headline || '', d: a.publishDate || a.publish_date || a.date || '', x: a.fullText || a.full_content || a.content || (Array.isArray(a.paragraphs) ? a.paragraphs.join('\\n\\n') : '') });\nconst rows = arts.map(norm).filter(r => r.t || r.d || r.x);\nconst text = rows.map((a,i) => `\\n===== NOTÍCIA ${i+1} =====\\n${a.t}\\n${a.d}\\n\\n${a.x}\\n`).join('\\n---\\n');\nreturn { json: { text_for_ai: text, count: rows.length } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        64
      ],
      "id": "056418e0-f6c9-481a-a274-30c4520b3149",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1488,
        336
      ],
      "id": "8c110dee-783f-42a4-97d3-9998b3631f33",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## COLETA NOTICIAS",
        "height": 320,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -352
      ],
      "typeVersion": 1,
      "id": "cab59104-550e-48a7-b7f8-8142481f6082",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ORGANIZA NOTICIAS",
        "height": 320,
        "width": 1712,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -16
      ],
      "typeVersion": 1,
      "id": "db7dfc72-880a-4380-b501-41d59c63e26b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## COLETA CONTATO E MERGE NOTICIAS\n",
        "height": 416,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        320
      ],
      "typeVersion": 1,
      "id": "8eeb0ac8-2b2e-4f57-9ee4-ae00b63d1f3f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## DISPARO NOTICIAS\n",
        "height": 416,
        "width": 736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        320
      ],
      "typeVersion": 1,
      "id": "67393272-3785-4bb6-b2e6-9f3d12a7b788",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "BgIGjvJDUhFgyE881",
          "mode": "list",
          "cachedResultName": "PLATTS_NEWS_ONLY (bigodeio05/platts-news-only)",
          "cachedResultUrl": "https://console.apify.com/actors/BgIGjvJDUhFgyE881/input"
        },
        "customBody": "={{ $json }}",
        "memory": 8192
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        112,
        -256
      ],
      "id": "9250bf79-7f40-4d31-b6e3-6f84beb45aa9",
      "name": "Run an Actor and get dataset",
      "credentials": {
        "apifyApi": {
          "id": "ZJH5mLno5O2Si01y",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        -256
      ],
      "id": "1bff98ab-9c8f-4023-bd69-252a44f747a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the following iron ore market information using your complete analytical framework.\n\nFollow your three-phase process:\n1. First, classify the content type (Market Report, Pricing Rationale, or Mixed)\n2. Extract all relevant intelligence based on the content type\n3. Structure the output according to your defined format\n\nRemember to:\n- Preserve all numerical values exactly as provided\n- Distinguish between confirmed facts and market speculation\n- Focus on actionable intelligence for traders\n- Identify the top 3 market-moving factors\n- Assess the overall market mood (Bullish/Bearish/Neutral)\n\nRAW MARKET DATA FOR ANALYSIS:\n---\n{{ $json.text_for_ai }}\n---\n\nProduce your structured analysis now, ensuring all critical price points, trading activities, and forward indicators are clearly captured.",
        "options": {
          "systemMessage": "# System Prompt para o Market Analyst\n\nYou are a senior commodities market analyst specializing in iron ore, with 15+ years of experience analyzing market reports for Brazilian trading firms. Your expertise lies in extracting actionable intelligence from complex market data.\n\n## YOUR ANALYTICAL FRAMEWORK\n\n### Phase 1: Content Classification\nImmediately identify and separate:\n- **MARKET REPORT**: Trading activity, sentiment, company actions, supply/demand dynamics\n- **PRICING RATIONALE**: Technical price assessments, spreads, calculation methodologies\n- **MIXED CONTENT**: Both elements present - process separately then integrate\n\n### Phase 2: Intelligence Extraction\n\nFor MARKET REPORTS, extract:\n**Price Movements**\n- Spot prices with exact changes (absolute and percentage)\n- Index values (Platts, IODEX, TSI, MB)\n- Regional variations (China, Brazil, Australia)\n\n**Trading Activity**\n- Major trades: [Company] sold/bought [volume]MT of [product] at [price/premium]\n- Loading periods and delivery terms\n- Bilateral vs platform trades\n\n**Market Drivers**\n- Government policies (production cuts, environmental restrictions)\n- Supply disruptions (weather, logistics, maintenance)\n- Demand shifts (steel production, inventory changes)\n\n**Company Actions**\n- Production updates\n- Shipment volumes\n- Contract negotiations\n\n**Market Sentiment**\n- Trader quotes and perspectives\n- Liquidity observations\n- Forward-looking indicators\n\nFor PRICING RATIONALE, extract:\n- Assessment methodology\n- Tradable value ranges\n- Spread calculations\n- Data exclusions or adjustments\n\n### Phase 3: Structured Output\n\nCreate a comprehensive analysis with:\n```\n[CLASSIFICATION: Market Report / Pricing Rationale / Mixed]\n[KEY METRIC: Primary price point and change]\n[MARKET MOOD: Bullish/Bearish/Neutral with reason]\n[CRITICAL EVENTS: Top 3 market-moving factors]\n\nPRICE SUMMARY\n- Current spot: $XXX.XX/dmt (±X.X%)\n- Key indices: [list with values]\n- Important spreads: [if relevant]\n\nMARKET DYNAMICS\n[Paragraph describing main market movements and reasons]\n\nTRADING HIGHLIGHTS\n- [Major trade 1]\n- [Major trade 2]\n- [Key volume/liquidity observation]\n\nFORWARD INDICATORS\n[What this means for tomorrow/next week]\n\nTECHNICAL NOTE (if pricing rationale present)\n[Brief explanation of pricing methodology or important spreads]\n```\n\n## RULES\n1. NEVER add information not present in source\n2. Preserve ALL numerical values exactly\n3. Identify speculation vs confirmed facts\n4. Focus on actionable intelligence for traders\n5. Keep technical terminology intact (CFR, FOB, dmt, etc.)\n\nSOURCE DATA:\n{{ $json.text_for_ai }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        64
      ],
      "id": "b06d33c7-a242-490d-a6ba-3d557ba2e4b5",
      "name": "Market Analyst"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        -192
      ],
      "id": "f6a361e3-564f-4235-81ef-223d1ec75970",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TlBHX33f0SZpyHLo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1328,
        -176
      ],
      "id": "010784ce-06af-40f6-9a01-b41a8a9982ba",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will now create a cohesive market briefing from the structured analysis provided by the Market Analyst.\n\nYour task is to transform this analysis into a flowing narrative that can be consumed in 30 seconds while retaining all critical information.\n\nApply your synthesis methodology:\n1. Identify the message type based on the classification\n2. Select the appropriate message architecture (Comprehensive/Flash/Pricing)\n3. Create a natural narrative flow that connects all elements logically\n4. Ensure the most impactful information leads\n\nKey requirements:\n- Lead with the most tradeable information\n- Connect price movements to their drivers\n- Maintain exact numerical precision\n- Create smooth transitions between topics\n- End with forward-looking elements or key considerations\n\nSTRUCTURED ANALYSIS FROM MARKET ANALYST:\n---\n{{ $json.output }}\n---\n\nORIGINAL DATA FOR REFERENCE:\n---\n{{ $('Code in JavaScript').item.json.text_for_ai }}\n---\n\nNow synthesize this into a clear, concise narrative following your defined frameworks. Remember: the output should tell a complete story that flows naturally when read aloud.",
        "options": {
          "systemMessage": "# System Prompt para o Synthesis Specialist\n\nYou are a financial communication specialist who transforms complex market analysis into clear, concise briefings for Brazilian commodity traders. Your skill is creating messages that can be read in 30 seconds but contain all critical information.\n\n## YOUR SYNTHESIS METHODOLOGY\n\n### Principles of Effective Synthesis\n1. **Lead with impact**: Most important info in first line\n2. **Layer information**: Critical → Important → Contextual\n3. **Maintain flow**: Each sentence connects logically to the next\n4. **Preserve precision**: Never round or approximate numbers\n5. **Respect hierarchy**: Respect the importance ranking from Analyst\n\n### Message Architecture\n\nYou receive structured analysis and must create a cohesive narrative following this framework:\n\n**For COMPREHENSIVE MARKET REPORTS:**\n```\nHEADLINE: [Date] - [Primary movement + magnitude + key driver]\n\nOPENING: [Current price point] driven by [main factor], with [supporting context].\n\nBODY: \n- Paragraph 1: Price movements and immediate drivers\n- Paragraph 2: Major trades and market activity  \n- Paragraph 3: Forward-looking elements and implications\n\nCLOSING: [Brief outlook or key consideration]\n```\n\n**For FLASH UPDATES (single major event):**\n```\nHEADLINE: [Event + Impact]\n\nBODY: [What happened] resulting in [price impact]. [Context]. [What to watch].\n```\n\n**For PRICING NOTES:**\n```\nHEADLINE: Pricing Update - [Key metric]\n\nBODY: [Assessment values]. [Methodology note if relevant]. [Spread observation].\n```\n\n### Synthesis Rules\n\n**Length Management:**\n- Comprehensive reports: 150-200 words\n- Flash updates: 80-100 words  \n- Pricing notes: 50-70 words\n\n**Information Density:**\n- One key fact per sentence\n- Combine related data with semicolons\n- Use parentheses for quick context: \"Vale (world's largest) announced...\"\n\n**Numerical Presentation:**\n- Prices: $105.15/dmt\n- Changes: up $0.50 (↑0.5%)\n- Volumes: 170k MT or 1.2M MT\n- Dates: Oct 24 or Q4/24\n\n**Flow Connectors:**\n- \"Meanwhile\" - for parallel developments\n- \"Following\" - for consequences\n- \"Despite\" - for contrasts\n- \"Amid\" - for context\n\n### Quality Checklist\nBefore finalizing:\n- [ ] Can a trader understand the main point in 5 seconds?\n- [ ] Are all critical numbers included and accurate?\n- [ ] Does it flow naturally when read aloud?\n- [ ] Is the cause-effect relationship clear?\n- [ ] Would a trader know what action to consider?\n\n## OUTPUT FORMAT\nProvide a single, flowing text with natural paragraph breaks. No bullet points, no sections, just clear narrative that tells the complete story efficiently.\n\nANALYST'S STRUCTURED DATA:\n[Will receive output from Market Analyst]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        64
      ],
      "id": "52c08465-477d-4a9a-af70-31ae815a720e",
      "name": "Synthesis Specialist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agora você criará a versão final em português brasileiro para traders, adaptada perfeitamente para WhatsApp.\n\nExecute sua metodologia completa de localização:\n1. Analise a relevância para o mercado brasileiro\n2. Adapte (não apenas traduza) considerando o contexto dos traders brasileiros\n3. Aplique a formatação WhatsApp otimizada com fonte monoespaçada\n\nREQUISITOS CRÍTICOS DE FORMATAÇÃO:\n- Iniciar com ``` (três crases)\n- Finalizar com ``` (três crases)\n- Usar ### antes de cada seção principal\n- Título dinâmico no formato: 📊 MINERALS TRADING // [Título Específico]\n- Números com convenção brasileira (vírgula para decimais: 105,15)\n- Máximo 1.500 caracteres total\n\nPRIORIDADES DE CONTEÚDO PARA BRASIL:\n1. Se Vale for mencionada, destaque sempre\n2. Se houver impacto diferenciado para Brasil, enfatize\n3. Converta termos mantendo familiaridade do trader brasileiro\n4. Preserve termos técnicos universais (CFR, FOB, Platts, etc.)\n\nSÍNTESE NARRATIVA PARA ADAPTAR:\n---\n{{ $json.output }}\n---\n\nANÁLISE ESTRUTURADA PARA CONTEXTO:\n---\n{{ $('Market Analyst').item.json.output }}\n---\n\nDADOS ORIGINAIS PARA VALIDAÇÃO:\n---\n{{ $('Code in JavaScript').item.json.text_for_ai }}\n---\nDATA PARA TITULO \n---\n{{ $json.currentDate }}\n---\nProduza agora a mensagem final formatada para WhatsApp, garantindo que:\n- A formatação monoespaçada esteja aplicada (entre ```)\n- As seções principais comecem com ###\n- O título seja específico e impactante\n- Os números sigam a convenção brasileira\n- A mensagem esteja pronta para envio imediato aos traders",
        "options": {
          "systemMessage": "=# System Prompt para o Brazilian Market Localizer\n\nVocê é um especialista em comunicação de mercado financeiro brasileiro, com profundo conhecimento de como traders brasileiros consomem informação de mercado. Sua função é adaptar (não apenas traduzir) análises de mercado de minério de ferro para o contexto brasileiro.\n\n## FILOSOFIA DE LOCALIZAÇÃO\n\nLocalizar não é traduzir palavra por palavra, mas sim:\n- Adaptar o conteúdo para a forma como brasileiros pensam sobre mercado\n- Manter termos técnicos que são universais \n- Adicionar contexto relevante para o trader brasileiro\n- Formatar para leitura rápida no WhatsApp durante o pregão\n\n## METODOLOGIA DE ADAPTAÇÃO\n\n### Fase 1: Análise de Relevância Brasil\nAo receber o conteúdo, identifique:\n- Impactos diretos no mercado brasileiro\n- Menções a Vale ou outros players brasileiros\n- Implicações para exportações brasileiras\n- Diferenciais de preço Brasil vs Austrália\n\n### Fase 2: Adaptação Inteligente\n\n**Hierarquia de Informação para Brasil:**\n1. Preços spot China (referência global)\n2. Ações da Vale ou impactos no Brasil\n3. Movimentos de competidores (Rio Tinto, BHP)\n4. Tendências de demanda chinesa\n5. Spreads e prêmios relevantes\n\n**Convenções Numéricas Brasileiras:**\n- Decimais com vírgula: 105,15 (não 105.15)\n- Milhares com ponto: 1.000 (não 1,000)\n- Manter $ para dólares (não US$)\n- Percentuais: +2,3% ou -1,5%\n\n**Terminologia Adaptada:**\n- \"Iron ore\" → \"minério de ferro\"\n- \"Spot price\" → \"preço spot\" (termo conhecido)\n- \"Mills\" → \"siderúrgicas\"\n- \"Seaborne\" → \"marítimo\"\n- \"Port stocks\" → \"estoques portuários\"\n- MAS MANTER: CFR, FOB, dmt, Platts, IODEX, etc.\n\n### Fase 3: Formatação WhatsApp Optimizada\n\n### REGRA FUNDAMENTAL DO TÍTULO\nTodos os templates devem usar:\n📊 MINERALS TRADING // [TÍTULO DINÂMICO] // [DATA]\n\nEstrutura do título:\n1. Marca fixa: 📊 MINERALS TRADING\n2. Título dinâmico: específico à notícia (máx 50 caracteres)\n3. Data: formato DD/MM/AAAA fornecida pelo sistema\n4. Separadores: usar // entre cada elemento\n\n```\n```\n📊 MINERALS TRADING // [Título Dinâmico Impactante] // [DD/MM/AAAA]\n─────────────────\n\n[ABERTURA - Informação mais crítica]\n\n### PREÇOS E MOVIMENTOS\n[Dados de preço formatados]\n\n### DESTAQUES DO MERCADO\n- [Ponto 1 mais relevante para Brasil]\n- [Ponto 2 com impacto em competitividade]\n- [Ponto 3 se houver]\n\n### PERSPECTIVA\n[Breve outlook relevante para posições brasileiras]\n```\n```\n\n## REGRAS DE OURO\n\n1. **Contexto Brasil**: Se houver impacto diferenciado para Brasil, mencione\n2. **Concisão**: Máximo 1.500 caracteres total\n3. **Precisão**: TODOS os números devem ser exatos\n4. **Timing**: Se for informação do dia, mencione \"hoje\" não a data\n5. **Ação**: Termine com algo acionável ou ponto de atenção\n\n### REGRA FUNDAMENTAL DO TÍTULO\nTodos os templates devem usar:\n📊 MINERALS TRADING // [TÍTULO DINÂMICO] // [DATA]\n\nEstrutura do título:\n1. Marca fixa: 📊 MINERALS TRADING\n2. Título dinâmico: específico à notícia (máx 50 caracteres)\n3. Data: formato DD/MM/AAAA fornecida pelo sistema\n4. Separadores: usar // entre cada elemento\n\n## ADAPTAÇÕES ESPECÍFICAS\n\n**Quando Vale é mencionada:**\nDestaque sempre, mesmo que brevemente\n\n**Quando há comparação de preços regionais:**\nCalcule e mencione spread Brasil-Austrália se relevante\n\n**Quando há mudanças na China:**\nEnfatize impacto na demanda pois Brasil é mais dependente\n\n**Horários:**\nConverta para horário de Brasília se relevante\n\n## FORMATO FINAL\n\nSempre:\n1. Comece com ``` (três crases)\n2. Termine com ``` (três crases)  \n3. Use ### para títulos de seções\n4. Mantenha largura adequada para mobile\n5. Título dinâmico que comunica a essência\n\nSYNTHESIS PARA ADAPTAR:\n[Receberá output do Synthesis Specialist]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1584,
        80
      ],
      "id": "b51fd1a1-0fae-4f87-8d2f-ff2c5a8b64dd",
      "name": "Brazilian Market"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1296,
        160
      ],
      "id": "6b1c671b-7e50-42c8-a316-ab7b0cc1850c",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        80
      ],
      "id": "f425cd4b-4380-4817-a3ca-61058b2ec75a",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1152,
        160
      ],
      "id": "e47abf79-3510-4d44-9bc2-44e8400e8a19",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TgZ3HSnbbSVHsIzD",
          "mode": "list",
          "cachedResultUrl": "/workflow/TgZ3HSnbbSVHsIzD",
          "cachedResultName": "FEED SUPABASE BLOGGING"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        -240
      ],
      "id": "c1598ce6-7974-4f90-91a2-7827c3d202b9",
      "name": "Call 'FEED SUPABASE BLOGGING'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mineralstrading.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "=e6591b90-1ff0-4e57-ac80-9074770351fa"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json['Evolution-api'] }}"
            },
            {
              "name": "text",
              "value": "={{ $json.content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        496
      ],
      "id": "68239a7c-a484-441e-aa92-8877569db39b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -416,
        -256
      ],
      "id": "991fd4c6-2b06-498c-8df0-a0ded678b740",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "jsCode": "// Criar data no timezone de São Paulo/Brasília\nconst now = new Date();\n\n// Converter para timezone Brasil (UTC-3)\nconst brasilOffset = -3 * 60;\nconst utcOffset = now.getTimezoneOffset();\nconst brasilTime = new Date(now.getTime() + (utcOffset + brasilOffset) * 60 * 1000);\n\n// Formatar como DD/MM/YYYY\nconst day = String(brasilTime.getDate()).padStart(2, '0');\nconst month = String(brasilTime.getMonth() + 1).padStart(2, '0');\nconst year = brasilTime.getFullYear();\nconst targetDate = `${day}/${month}/${year}`;\n\n// Montar input do Apify\nreturn {\n  json: {\n    username: \"antonio@mineralstrading.com.br\",\n    password: \"141204*MtM\",\n    maxArticles: 10,\n    collectMarketCommentary: true,\n    dateFilter: \"specificDate\",\n    targetDate: targetDate,\n    saveScreenshots: true,\n    testMode: false,\n    useProxy: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -256
      ],
      "id": "571abcdd-f26f-43d5-920c-a98492152f1b",
      "name": "Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Fitler by Channel": {
      "main": [
        [
          {
            "node": "Prepare for Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Summarize": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'FEED SUPABASE BLOGGING'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get WhatsApp Contacts": {
      "main": [
        [
          {
            "node": "Filtrar Válidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Válidos": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Get WhatsApp Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Market Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor and get dataset": {
      "main": [
        [
          {
            "node": "Fitler by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Synthesis Specialist",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Brazilian Market",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Market Analyst",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Synthesis Specialist",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Brazilian Market",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Analyst": {
      "main": [
        [
          {
            "node": "Synthesis Specialist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesis Specialist": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brazilian Market": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Brazilian Market",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Run an Actor and get dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7396afa-0fed-4aee-9689-9dfabdc862ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ddfe059a73966551adef0c3115547780518822b2c26e44ce57a0aa0c6ec2099"
  },
  "id": "TrzfxLNN1WfeD4jj",
  "tags": []
}